@use "../abstracts/variables" as var;

.section-cards {
    background-color: var.$color-primary;
    text-align: center;
    padding: 64px 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    h2 {
      font-size: 2.2rem;
    }
  
    .cards {
      display: flex;
      justify-content: center;
      width: fit-content;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      // flex-basis: 33.333%;
      .card {
        margin: 12.5px;
        flex-basis: 33.333%;
        // height: auto;
        max-width: 350px;
        text-align: left;
        border-radius: 7px;
        background-color: #fff;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
        .card-img {
          border-radius: 7px 7px 0 0;
          height: 200px;
          overflow: hidden;
        }
        span {
          background-color: var.$color-primary;
          padding: 6px;
          font-size: 0.8rem;
          border-radius: 1px;
        }
        .card-info {
          padding: 15px 20px 30px 20px;
  
          h4 {
            margin-top: 12.5px;
            width: 80%;
            font-size: 1.1rem;
            margin-bottom: 10px;
          }
  
          .date {
            font-size: 0.7rem;
            font-weight: 600;
            margin-bottom: 30px;
          }
  
          a {
            margin: 0;
            margin-left: 160px;
          }
        }
  
        &:hover {
          box-shadow: 10px 10px 5px 1px rgba(50, 50, 50, 0.2);
          transform: scale(1.1);
          transition: transform 0.4s ease-in-out, box-shadow 0.6s ease-in-out;
        }
      }
    }

    // .showMore{
    //   background-color: var.$color-secondary;
    //   border-radius: 7px;
    //   padding: 12.5px 22.5px;
    //   color: #fff;
    //   font-size: 0.8rem;
    //   font-weight: 600;
    //   transition: all 0.3s ease;
    //   border: 1px solid transparent;
    //   display: none;
    //   cursor: pointer;

    // }
  }

  
  // @media (max-width: 1024px){
  //   .section-cards{
  //     .showMore{
  //       display: block;
  //     }
  //   }
  // }




  @media (max-width: 600px) {
    .section-cards{
      padding: 64px 0;
      .cards{
        .card{
          min-width: 350px;
          .card-info{
            padding: 15px 20px 30px 20px;
          }
        }
      }
    }
  }

  @media (max-width: 370px) {
    .section-cards{
      padding: 64px 0;
      .cards{
        .card{
          min-width: 250px;
          .card-info{
            padding: 5px 20px 30px 20px;


            a{
              margin-left: 65px;
            }
          }
        }
      }
    }
  }

  @media (min-width: 601px){
    .section-cards{
      padding: 64px 0;
      flex-wrap: wrap;
      .cards{
      flex-wrap: wrap;

        .card{
          min-width: 270px;
          .card-info{
            a{
              margin-left: 65px;
            }
          }
        }
      }
    }
  }

  @media (min-width: 670px){
    .section-cards{
      padding: 64px 0;
      flex-wrap: wrap;
      .cards{
      flex-wrap: wrap;

        .card{
          min-width: 300px;
          .card-info{
            a{
              margin-left: 105px;
            }
          }
        }
      }
    }
  }

  @media (min-width: 765px){
    .section-cards{
      padding: 64px 0;
      flex-wrap: wrap;
      .cards{
      flex-wrap: wrap;

        .card{
          min-width: 350px;
          .card-info{
            a{
              margin-left: 165px;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1024px){
    .section-cards{
      padding: 64px 0;
      .cards{

        .card{
          min-width: 350px;
          .card-info{
            a{
              margin-left: 155px;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1400px){
    .section-cards{
      padding: 64px 120px;
      .cards{

        .card{
          min-width: 350px;
          .card-info{
            a{
              margin-left: 155px;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1652px){
    .section-cards{
      padding: 64px 240px;
      .cards{

        .card{
          min-width: 350px;
          .card-info{
            a{
              margin-left: 155px;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1972px){
    .section-cards{
      padding: 64px 400px;
      .cards{

        .card{
          min-width: 350px;
          .card-info{
            a{
              margin-left: 155px;
            }
          }
        }
      }
    }
  }

